<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.designrifts.ultimatethemeui"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <supports-screens android:anyDensity="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:resizeable="true" android:smallScreens="true"/>        

    <application android:label="@string/app_name" 
        		 android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
                 
        <activity android:name=".ThemeActivity"
                  android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <activity
            android:name="wallpaper"
            android:icon="@drawable/icon"
            android:screenOrientation="nosensor"
            android:finishOnCloseSystemDialogs="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

	        <activity android:name=".MainActivity" android:label="@string/theme_title">
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <category android:name="com.anddoes.launcher.THEME" />
	            </intent-filter>
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <action android:name="com.gau.go.launcherex.theme" />
	                <category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
	        </activity>
	        <activity android:name=".adw"
	                  android:label="@string/theme_title">
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <action android:name="org.adw.launcher.THEMES" />
	                <category android:name="android.intent.category.DEFAULT" />                
	            </intent-filter>
	            <intent-filter>
	                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
	                <category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>              
	        </activity>
	        <activity
	            android:name="icons"
	            android:icon="@drawable/icon"
	            android:label="@string/icon_title">
	            <intent-filter>
	                <action android:name="android.intent.action.GET_CONTENT" />
	
	                <category android:name="android.intent.category.DEFAULT" />
	                <category android:name="android.intent.category.OPENABLE" />
	
	                <data android:mimeType="image/*" />
	            </intent-filter>
	            <intent-filter>
	                <action android:name="android.intent.action.PICK" />
	
	                <category android:name="android.intent.category.DEFAULT" />
	
	                <data android:mimeType="image/*" />
	            </intent-filter>
	        </activity>
	
	        <provider
	            android:name="iconsProvider"
	            android:authorities=".iconsProvider" />

	</application>

</manifest>
